@import "tailwindcss";

@theme {
  --breakpoint-ss: 520px;
  --breakpoint-xs: 380px;
  --breakpoint-sm: 540px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

a.active hr{
  display: block;
}