@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Momo+Trust+Display&display=swap');


@import "tailwindcss";

@theme {
  --breakpoint-ss: 520px;
  --breakpoint-xs: 380px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

/* 4️⃣ Custom CSS */
a.active hr {
  display: block;
}
